.mentions--multiLine .mentions__control {
  color: #fff;
}
.mentions--multiLine .mentions__highlighter {
  border: 1px solid transparent !important;
  padding: 9px;
  outline: 0;
  color: #fff;
  font-family: 'Roboto', 'Noto Sans Jp', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', Osaka, 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック' !important;
  font-size: 14px !important;
  font-weight: 400;
  background-color: transparent;
  line-height: 1.4;
  box-sizing: border-box;
  overflow: hidden !important;
  max-height: 100px;
  min-height: 38px;
}

.mentions--multiLine .mentions__input {
  border: 1px solid #777;
  padding: 9px;
  outline: 0;
  color: #fff;
  font-family: 'Roboto', 'Noto Sans Jp', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', Osaka, 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック' !important;
  font-size: 14px !important;
  font-weight: 400;
  line-height: 1.4;
  max-height: 100px;
  min-height: 38px;
  overflow: hidden !important;
  border-radius: 24px;
  background-color: #101010 !important;
  padding-right: 30px;
}

.mentions__suggestions__list {
  background-color: white;
  font-size: 14px;
  bottom: -5px;
  left: 2px;
  color: #101010;
  position: absolute;
  min-width: 200px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
  overflow: auto;
  max-height: 300px;
}

/* .mentions__suggestions__item {
} */

.mentions__suggestions__item--focused {
  background-color: #cee4e5;
}

.mentions__mention {
  font-family: 'Roboto', 'Noto Sans Jp', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', Osaka, 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック' !important;
  position: relative;
  z-index: 1;
  font-weight: 400 !important;
  font-size: 14px !important;
  text-shadow: 1px 1px 1px #101010, 1px -1px 1px #101010, -1px 1px 1px #101010, -1px -1px 1px #101010;
  color: #ff4786;
  pointer-events: none;
  line-height: 1.4;
}
