@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
.content-wrapper {
  max-width: 764px;
  margin: 0 auto;
  background: url('/images/pattern.png') center 60px repeat-x #212121 fixed;
  width: 100%;
  min-height: 2000px;
}
.main {
  margin-top: 60px;
  min-height: 400px;
  background: #000;
}
.main.no-pattern {
  background-image: none;
}
.aside-left {
  position: fixed;
  left: 0;
  top: 60px;
  max-width: calc((100% - 764px) / 2);
  bottom: 0;
  background: #000;
  height: 100%;
  width: 100%;
  border-right: 1px solid #70707070;
  justify-content: flex-end;
  display: flex;
}
.aside-right {
  position: fixed;
  right: 0;
  top: 60px;
  max-width: calc((100% - 764px) / 2);
  bottom: 0;
  height: 100%;
  width: 100%;
  border-left: 1px solid #70707070;
  justify-content: flex-start;
  display: flex;
}
.back-drop {
  backdrop-filter: blur(5px);
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

/* Primary Button */

.MuiButtonBase-root.button-primary {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  font-weight: bold;
  font-family: 'Roboto', 'Noto Sans Jp', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', Osaka, 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック',
    'MS PGothic', sans-serif;

  line-height: 1.75;
  text-transform: uppercase;
  height: 50px;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 6px;
}
.MuiButtonBase-root.button-primary.primary-large {
  height: 50px;
  font-size: 16px;
  font-weight: 600;
}
.MuiButtonBase-root.button-primary.primary-small {
  height: 38px;
  font-size: 14px;
  font-weight: 500;
}

.MuiButtonBase-root.button-primary.primary-rounded {
  border-radius: 25px;
}

.MuiButtonBase-root.button-primary {
  padding: 12px 60px;
}
.MuiButtonBase-root.button-primary:not(.Mui-disabled).gradient {
  background: linear-gradient(234deg, rgb(214, 0, 253) 0%, rgb(252, 94, 102) 100%, rgb(251, 92, 105) 100%, rgb(253, 97, 97) 100%) 0% 0%
    no-repeat padding-box padding-box transparent;
  border: 1px solid #ff7ef6;
  box-shadow: rgb(225 26 212) 0px 0px 10px;
}

.MuiButtonBase-root.button-primary:not(.Mui-disabled).gradient:hover {
  border: 1px solid #fff;
}

.MuiButtonBase-root.button-primary.Mui-disabled {
  color: rgba(255, 255, 255, 0.3);
  background: rgb(77, 77, 77);
  box-shadow: none;
  border: 0 none;
}

.MuiButtonBase-root.button-primary:hover {
  border: 1px solid #fff;
}
.MuiButtonBase-root.button-primary.gradient:active,
.MuiButtonBase-root.button-primary.gradient:focus {
  box-shadow: rgb(225 26 212) 0px 0px 4px !important;
  transition: all 0.1s ease-in;
}

.MuiButtonBase-root.button-primary:active,
.MuiButtonBase-root.button-primary:focus {
  box-shadow: none;
  transition: all 0.1s ease-in;
  background: #000;
}

.MuiButtonBase-root.button-primary {
  position: relative;
  transition: all 0.45s ease-Out;
  color: #fff;
}

.MuiButtonBase-root.button-primary.gradient .circle {
  width: 0%;
  height: 0%;
  opacity: 0;
  line-height: 40px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  transition: all 0.5s ease-Out;
  top: 50%;
  left: 50%;
}

.MuiButtonBase-root.button-primary .circle {
  width: 0%;
  height: 0%;
  opacity: 0;
  line-height: 40px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  transition: all 0.5s ease-Out;
  top: 50%;
  left: 50%;
}

.MuiButtonBase-root.button-primary.gradient:hover .circle {
  width: 200%;
  height: 700%;
  opacity: 1;
  top: -150px;
  left: -50%;
}

.MuiButtonBase-root.button-primary:hover .circle {
  width: 200%;
  height: 700%;
  opacity: 0.2;
  top: -150px;
  left: -50%;
}

.MuiButtonBase-root.button-primary.primary-small:hover .circle {
  width: 200%;
  height: 700%;
  opacity: 0.2;
  top: -100px;
  left: -50%;
}

.label-primary {
  z-index: 2;
  position: relative;
}
.MuiButtonBase-root.button-primary.label-primary {
  color: #ffffff70;
}

.MuiButtonBase-root.button-primary.gradient:hover .label-primary {
  color: #ff4786;
}
.MuiButtonBase-root.button-primary:hover .label-primary {
  color: #fff;
}
